@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Pour utiliser la police fun facilement dans la page */
.font-display {
  font-family: var(--font-display);
}


/* Animation timeline BAFA */
/* --- PULSE SUR LE POINT DE TIMELINE AU SURVOL --- */

@keyframes timelinePulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(56, 189, 248, 0.0); /* sky-400 */
  }
  50% {
    transform: scale(1.15);
    box-shadow: 0 0 0 6px rgba(56, 189, 248, 0.35);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(56, 189, 248, 0.0);
  }
}

.timeline-dot-wrapper:hover .timeline-dot {
  animation: timelinePulse 0.6s ease-out;
}

